@import "//at.alicdn.com/t/font_2341254_itphrn4seuk.css";
/* 字体 */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

/* 清除浮动造成的高度坍塌 */

.clearfix::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

/* 左浮动 */

.left {
    float: left;
}

/* 右浮动 */

.right {
    float: right;
}

/* 隐藏 */

.hide {
    display: none;
}